.logo {
   display: flex;
   align-items: center;
   font-family: Borgen;
   color: var(--theme-lo-contrast-color);
   position: relative;
   z-index: 2;
}

.logo::before {
   content: 'Bruno Zampieri';
   position: absolute;
   color: var(--theme-md-contrast-color);
   transform: translateX(1px);
   transform: translateY(1px);
   text-shadow: 0px 10px 50px var(--theme-hi-contrast-color);
   z-index: 1;
   animation: glowing 5s ease-in-out infinite;
}

.logo::after {
   content: 'Bruno Zampieri';
   position: absolute;
   color: var(--theme-text-color);
   transform: translateX(-1px);
   transform: translateY(-1px);
   text-shadow: 0px 0px 10px var(--theme-text-color);
   z-index: 1;
}

@keyframes glowing {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 1;
   }
   100% {
      opacity: 0;
   }
}
