.skills-wrapper {
   min-height: calc(100vh - 90px);
   display: flex;
   flex-direction: column;
   background: linear-gradient(
      90deg,
      var(--theme-lo-contrast-color) 0%,
      var(--theme-bg-color-contrast) 50%,
      var(--theme-bg-color-contrast) 100%
   );
   align-items: center;
}
.skills-container {
   display: flex;
   justify-content: center;
   max-width: 1200px;
   margin: 0 auto;
}

.skills-title {
   width: 30%;
   height: calc(100vh - 90px);
   display: flex;
   align-items: center;
   justify-content: center;
}

.skills-list {
   width: 70%;
   height: calc(100vh - 90px);
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.skills-card-container {
   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
   flex-wrap: wrap;
   width: 100%;
   gap: 20px;
   height: fit-content;
   padding: 20px;
}

.skills-card-container .skills-card {
   position: relative;
   width: 220px;
   height: 250px;
   background-color: var(--theme-bg-color);
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: -10px -10px 30px black, 10px 10px 30px var(--theme-bg-color),
      inset -10px -10px 10px #aeaec025,
      inset 10px 10px 10px var(--theme-bg-color-contrast);
}

.skills-card-container .skills-card .skills-percentage {
   position: relative;
   width: 150px;
   height: 150px;
}

.skills-card-container .skills-card .skills-percentage svg {
   position: relative;
   width: 150px;
   height: 150px;
   transform: rotate(270deg);
}

.skills-card-container .skills-card .skills-percentage svg circle {
   width: 100%;
   height: 100%;
   fill: transparent;
   stroke-width: 4;
   stroke: var(--theme-bg-color-contrast);
   transform: translate(5px, 5px);
}

@property --num {
   syntax: '<number>';
   initial-value: 0;
   inherits: none;
}

@property --clr {
   syntax: '<color>';
}

.skills-card-container .skills-card .skills-percentage svg circle:nth-child(2) {
   stroke: var(--clr);
   stroke-dasharray: 440;
   stroke-dashoffset: var(--animationCircle);
   animation: offset 2s linear forwards;
}

@propety --animation {
   syntax: '<number>';
   initial-value: 0;
   inherits: none;
}

@keyframes offset {
   0% {
      stroke-dashoffset: 440;
   }
   100% {
      stroke-dashoffset: var(--animationCircle);
   }
}

.skills-dot {
   position: absolute;
   inset: 5px;
   z-index: 3;
   transform: rotate(calc(3.6deg * var(--num)));
   /* 360deg / 10 = 3.6deg */
   animation: animateDot 2s linear forwards;
}

@keyframes animateDot {
   0% {
      transform: rotate(calc(3.6deg * var(--num)) + 360deg);
   }
   100% {
      transform: rotate(calc(3.6deg * var(--num)));
   }
}

.skills-dot::before {
   position: absolute;
   content: '';
   background-color: var(--clr);
   box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);
   width: 14px;
   height: 14px;
   border-radius: 50%;
   top: -7px;
   left: 50%;
   transform: translateX(-50%);
}

.skills-percentage-number {
   position: absolute;
   inset: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   animation: animateOpacity 2s linear forwards;
}

@keyframes animateOpacity {
   0% {
      opacity: 0;
   }
   50% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}

.skills-percentage-number h2 {
   padding: 0;
   margin: 0;
   display: flex;
   align-items: center;
}

.skills-percentage-number p {
   padding: 0;
   margin: 0;
   font-size: 12px;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.skills-percentage-number span {
   font-size: 16px;
}

@media (max-width: 768px) {
   .skills-wrapper {
      background: linear-gradient(
         0deg,
         var(--theme-lo-contrast-color) 0%,
         var(--theme-bg-color-contrast) 100%
      );
   }
   .skills-container {
      flex-direction: column;
   }
   .skills-title {
      height: unset;
      width: 100%;
   }

   .skills-list {
      height: unset;
      width: 100%;
   }

   .skills-card-container {
      width: 100%;
      margin-top: 20px;
      padding: 0;
   }
   .skills-card-container .skills-card {
      width: 160px;
      height: 180px;
      background-color: transparent;
      box-shadow: none;
   }
}

@media (max-width: 1250px) {
   .skills-card-container .skills-card {
      width: 160px;
      height: 180px;
   }
}
