.navbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    min-height: 90px;
    max-height: 100vh;
    width: 100%;
    background-color: var(--theme-bg-color-contrast);
    z-index: 999;
}

.navbar-container {
    display: flex;
    width: 100%;
    min-height: 90px;
    max-width: var(--theme-xl-breakpoint);
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    padding: 0 20px;    
    z-index: 999;
}

.navbar-menu-icon {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}

.navbar-menu-icon:hover > span {
    background-color: var(--theme-hi-contrast-color);
}
.navbar-menu-icon:hover > span:nth-child(1) {
    background-color: var(--theme-hi-contrast-color);
}
.navbar-menu-icon:hover > span:nth-child(2) {
    background-color: var(--theme-hi-contrast-color);
}

.navbar-menu-icon span {
    position: absolute;
    width: 24px;
    height: 2px;
    background-color: var(--theme-text-color);
    transition: all 0.2s ease-in-out;
}

.navbar-menu-icon span:nth-child(1) {
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: var(--theme-text-color);
    transform: translateY(8px);
    left: 8px;
    transition: all 0.2s ease-in-out;

}

.navbar-menu-icon span:nth-child(2) {
    position: absolute;
    width: 16px;
    height: 2px;
    background-color: var(--theme-text-color);
    transform: translateY(-8px);
    left: 8px;
    transition: all 0.2s ease-in-out;
}

.navbar-menu-icon.navbar-menu-icon-active > span:nth-child(3) {
    transform: translateX(80px);
}

.navbar-menu-icon.navbar-menu-icon-active > span:nth-child(1) {
    transform: rotate(-45deg);
    background-color: var(--theme-hi-contrast-color);
    width: 24px;
}

.navbar-menu-icon.navbar-menu-icon-active > span:nth-child(2) {
    transform: rotate(45deg);
    background-color: var(--theme-hi-contrast-color);
    width: 24px;
}

.navbar-menu {
    transform: translateY(-200vh);
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 0;
    background-color: var(--theme-bg-color-contrast);
    margin: 0;
    padding: 0;
    width: 100%;
    transition: all 0.2s ease-in-out;
    z-index: 998;
}

.navbar-menu.navbar-menu-active {
    transform: translateY(0);
    top: 90px;
    height: calc(100vh - 90px);
    transition: all 0.2s ease-in-out;
}

.navbar-menu-item {
    display: flex;
    align-items: center;
    padding: 20px;
}

.navbar-menu-item:hover {
    color: var(--theme-hi-contrast-color);
    transition: all 0.2s ease-in-out;
}

.navbar-menu-item:hover > .navbar-menu-link {
    color: var(--theme-hi-contrast-color);
    transition: all 0.2s ease-in-out;
}

.navbar-menu-link {
    display: flex;
    width: 100%;
    padding: 20px 10px;
    align-items: center;
    transition: all 0.2s ease-in-out;

}

