@property --clr {
   syntax: '<color>';
}

.social-media {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin: 15px 0;
   gap: 15px;
}

.social-media-icon {
    width: 40px;
    height: 40px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--theme-lo-contrast-color);
    transition: .2s ease-in-out;
}

.social-media-icon:hover {
    color: var(--clr);
}
